@font-face {
  font-family: "Departure Mono";
  src:
    url("./assets/fonts/DepartureMono-Regular.woff2") format("woff2"),
    url("./assets/fonts/DepartureMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #42504f; /* Tailwind's bg-neutral-500 */
  font-family: "Departure Mono", monospace;
  color: #DAFFFD;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

header {
  color: #feb0e4;
}

header h1 {
  font-size: 5.5rem;
  line-height: 5.5rem;
}

.initiatives-container {
  color: #42504f;
  background-color: #DAFFFD;
}

.initiative-title {
  margin-bottom: 0.6rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.link-title {
  font-size: 1.1rem;
  text-decoration: underline;
  cursor: pointer;
}
